.container {
  overflow: hidden;

  display: grid;
  grid-template-rows: min-content 1fr 1fr;
}

.inbox {
  overflow-y: scroll;

  border-bottom: 1px solid black;

  ul {
    list-style: none;
    padding: 0;

    li {
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }

      &.selected {
        background: aliceblue;
      }
    }
  }
}
