.jobs {
  overflow: hidden;

  display: grid;
  grid-template-rows: min-content 1fr 1fr;

  &:last-child {
    flex-grow: 1;
  }
}

.openings {
  overflow-y: scroll;

  border-bottom: 1px solid black;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0.5rem;

      &:not(:last-child) {
        border-bottom: 1px solid black;
      }

      &.selected {
        background: aliceblue;
      }
    }
  }
}
